<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwlm.capacitylock">


<!--    &lt;!&ndash; 使用网络功能所需权限 &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    &lt;!&ndash; 使用写外部储存卡功能所需权限 &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    &lt;!&ndash; 查看网络状态功能所需权限 &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- zxing所需权限 冲突的权限以百度地图为主 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- bugly所需权限 权限冲突以上为主 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <!-- 读取填充短信所需权限  -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>


    <application
        android:allowBackup="true"
        android:name=".base.MyApplication"
        android:icon="@mipmap/zylm_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <activity android:name=".base.LoadingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cwlm" android:host="jp.app" android:pathPrefix="/openwith"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.LoginActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.ServiceWebView" android:launchMode="singleTop"/>


        <activity android:name=".ui.scan.CancelActivity"/>
        <activity android:name=".ui.scan.ErrorActivity"/>
        <activity android:name=".ui.scan.ParkOrderDetailActivity"/>


        <activity android:name=".pay.PayActivity"/>
        <activity android:name=".pay.PaySuccessActivity"/>



        <activity android:name=".ui.percenter.PersonInfoCenterActivity"/>
        <activity android:name=".ui.percenter.OrderInfoCenterActivity"/>
        <activity android:name=".ui.percenter.BindCarNumbleActivity"/>
        <activity android:name=".ui.percenter.BindParkActivity"/>
        <activity android:name=".ui.percenter.MyPreParkActivity"/>
        <activity android:name=".ui.percenter.MyWallet_1Activity"/>
        <activity android:name=".ui.percenter.RechargeMonthCardActivity"/>
        <activity android:name=".ui.percenter.RechargeActivity"/>
        <activity android:name=".ui.percenter.ApplyLockActivity"/>
        <activity android:name=".ui.percenter.VipStateActivity"/>
        <activity android:name=".ui.percenter.IntroduceActivity"/>
        <activity android:name=".ui.percenter.SettingActivity"/>
        <activity android:name=".ui.percenter.CommitFeedbackActivity"/>
        <activity android:name=".ui.percenter.BindMyLockActivity"/>
        <activity android:name=".ui.percenter.MyLockActivity"/>
        <activity android:name="com.cwlm.capacitylock.ui.zxing.activity.CaptureActivity"/>


        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UGZrIpNk0ie97fmRmf7xBRVyGBxt2BR6" />


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >

            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!--bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--jpush-->
        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.cwlm.capacitylock.broadcast.MyPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.cwlm.capacitylock.ui" />
            </intent-filter>
        </receiver>

        <!--alipay-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>


    </application>

</manifest>